<app-logfooter></app-logfooter>
<div class="container mt-5">
    <h2 style="font-family:sans-serif;background: cornflowerblue;text-align: center;">AYURVEDIC HERBS & MEDICINES</h2>
    <div class="row mt-5">
        <div class="col-md-3 d-flex flex-row">
            <div class="products-top">
                <img src="assets/aa5.jpg" alt="ayurvedic" style="height: 250px;width:200px;" >
               <div class="product-bottom " style="margin-left: 70px;">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>

               </div>
               <h3>Abhayaristam</h3>
               <h5 style="margin-left: 70px;">$300.00</h5>
               <button class="btn btn-info ml-5">Add to cart</button>
            </div>

            <div class="products-top" style="margin-left: 60px;">
                <img src="assets/aa6.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
               <div class="product-bottom " style="margin-left: 70px;">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>

               </div>
               <h3>Jeevan Shakti</h3>
               <h5 style="margin-left: 70px;">$150.00</h5>
               <button class="btn btn-info ml-5">Add to cart</button>
            </div>


            <div class="products-top" style="margin-left: 60px;">
                <img src="assets/aa7.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
               <div class="product-bottom " style="margin-left: 70px;">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>

               </div>
               <h3>Kayam Churan</h3>
               <h5 style="margin-left: 70px;">$250.00</h5>
               <button class="btn btn-info ml-5">Add to cart</button>

               
            </div>

            <div class="products-top" style="margin-left: 60px;">
                <img src="assets/aa8.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
               <div class="product-bottom " style="margin-left: 70px;">
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStar"></fa-icon>
                <fa-icon [icon]="faStarHalfAlt"></fa-icon>

               </div>
               <h3>Vaidya Patankar</h3>
               <h5 style="margin-left: 70px;">$400.00</h5>
               <button class="btn btn-info ml-5">Add to cart</button>
        </div>
    </div>
</div>


<hr>
<h2 class=" mt-5" style="font-family:sans-serif;background: cornflowerblue;text-align: center;">BABY CARE</h2>
<div class="row mt-5">
    <div class="col-md-3 d-flex flex-row">
        <div class="products-top">
            <img src="assets/bb1.jpg" alt="ayurvedic" style="height: 250px;width:200px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>Pampers Baby Diapers</h3>
           <h5 style="margin-left: 70px;">$300.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/bb2.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>Himalaya Diaper Rash Cream</h3>
           <h5 style="margin-left: 70px;">$150.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>
        </div>


        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/bb3.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>Nestle Lactogen Powder</h3>
           <h5 style="margin-left: 70px;">$250.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>

           
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/bb4.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>Baby Milk Body Lotion</h3>
           <h5 style="margin-left: 70px;">$400.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>
    </div>
</div>
</div>

<hr>
<h2 class="mt-5" style="font-family:sans-serif;background: cornflowerblue;text-align: center;">HEALTH CARE</h2>
<div class="row mt-5">
    <div class="col-md-3 d-flex flex-row">
        <div class="products-top">
            <img src="assets/hh1.jpg" alt="ayurvedic" style="height: 250px;width:200px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>Benadryl Allergy & Cold</h3>
           <h5 style="margin-left: 70px;">$180.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/hh2.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>

           </div>
           <h3>Vicks Cough Syrup Honey</h3>
           <h5 style="margin-left: 70px;">$100.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>
        </div>


        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/hh3.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>CLET-OF Antibiotics </h3>
           <h5 style="margin-left: 70px;">$120.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>

           
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/hh4.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>NimuDay Fever & Pain Tablets</h3>
           <h5 style="margin-left: 70px;">$80.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>
    </div>
</div>
</div>


<hr>
<div class="row mt-5">
    <div class="col-md-3 d-flex flex-row">
        <div class="products-top">
            <img src="assets/hh9.jpg" alt="ayurvedic" style="height: 250px;width:200px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>

           </div>
           <h3>Cyproteron Acetate</h3>
           <h5 style="margin-left: 70px;">$60.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/aga.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>Agarose Tablet 200</h3>
           <h5 style="margin-left: 70px;">$210.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>
        </div>


        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/c1.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>LockCid- RD Tablet</h3>
           <h5 style="margin-left: 70px;">$160.00</h5>
           <button class="btn btn-info ml-5">Add to cart</button>

           
        </div>

        <div class="products-top" style="margin-left: 60px;">
            <img src="assets/h17.jpg" alt="ayurvedic" style="height: 250px;width:220px;" >
           <div class="product-bottom " style="margin-left: 70px;">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>

           </div>
           <h3>Arimidex 1mg Tablet</h3>
           <h5 style="margin-left: 70px;">$270.00</h5>
           <button class="btn btn-info ml-5 mb-5">Add to cart</button>
    </div>
</div>
</div>
</div>
<app-footer></app-footer>